.App {
  text-align: center;
  width: 100%;
}

.Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.Container1 {
  flex: 2;
  flex-basis: 70%;
}

.Container2 {
  flex: 1;
  flex-basis: 30%;
}
